.main-width {
    width: 80%;
    display: flex;
    margin: auto;
}

.div-width1 {
    width: 22%;
    height: 40vh;
        border: 3px solid black;
    background-color: yellow;
    margin: 5px;
    padding: 20px;
}

.div-width2 {
    width: 75%;
    height: calc(100vh - 300px);
        border: 3px solid black;
    background-color: yellow;
    margin: 5px;
    padding: 20px;
}

